<div class="container my-4">
    <div class="text-center examItem">
        <h2>{{exam.title}} </h2>
    </div>

    <div class="examItem">
        {{exam.text}}
    </div>
    <form #examForm="ngForm" >
        <div class="row flex-wrap justify-content-between examItem">
        <div *ngFor="let question of exam.questions;let i = index;trackBy : trackByFn" class="col-6 examItem">
            <div>{{i+1}}) {{question.text}}
            </div>
            <div *ngFor="let option of question.options;let j = index;trackBy:trackByFn" class="form-check examItem"  >
                <div class="{{optionLetters[i]}}{{optionLetters[j]}} radioDiv" >
                    {{optionLetters[j]}}) <input  [value]="j"  type="radio" class="form-check-input" name="{{i}}" id="{{i}}" ngModel (dblclick)="changeChecked($event)" >
                {{option.text}}
                </div>
                
            </div>
        </div>
    </div>
    <div class="d-flex justify-content-center my-5">
        <button type="submit" (click)="onFormSubmit(examForm)" class="btn btn-lg btn-outline-success">Finish Exam</button>
    </div>
    </form>
    

</div>

