<div class="container p-4">
    <table class="table table-hover">
        <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Date</th>
            </tr>
          </thead>
          <tbody>
            <tr  *ngFor="let exam of exams " class="table-info">
              <th scope="row">{{exam.id}}</th>
              <td>{{exam.title}}</td>
              <td>{{exam.date}} </td>
              <td><button class="btn btn-sm btn-outline-danger" (click)="deleteExam(exam.id.toString())" >Delete</button></td>
            </tr>
          </tbody>
    </table>
</div>