<div class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="alert alert-dismissible alert-warning" *ngIf="!selectedArticle.title" >
            <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            <p class="mb-0">Articles loading <b><a href="#" class="alert-link m-1">Please wait.. </a></b> <i class="fas fa-hourglass-half fa-2x"></i></p>
          </div>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Titles</label>
            <select class="form-select" id="articleTitle-select" [(ngModel)]="selectedArticle">
                <option *ngFor="let article of articles;" [ngValue]="article">{{article.title}}</option>
            </select>
        </div>
        <label class="form-label mt-4 articleTextLabel ml-0">Text</label>
        <textarea [(ngModel)]="selectedArticle.text" disabled id="article-text">
            
        </textarea>
    </div>



    <div *ngFor="let question of exam.questions;let i = index;">
        <textarea class="form-control my-3 questionTextInput" id="exampleTextarea" rows="3"
            placeholder="Question {{i + 1}}" [(ngModel)]="question.text"></textarea>
        <div class="row flex-wrap justify-content-between">
            <div *ngFor="let option of question.options;let j = index;" class="col-6">
                <input type="text" class="form-control my-2" placeholder="{{optionLetters[j]}} )"
                    [(ngModel)]="option.text">
            </div>
            <div class="d-flex justify-content-center mt-1">
                <select #optionSelect class="form-select" id="rightAnswer-select"  [(ngModel)]="selectedOptions.options[i]" >
                    <option *ngFor="let option of question.options;let j = index;" [ngValue]="j" >{{optionLetters[j]}}</option>
                </select>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center my-4">
        <button type="button" class="btn btn-lg btn-outline-primary" (click)="createExam()">Create Exam</button>
    </div>




</div>