<div class="container">
    <div class="d-flex flex-column align-items-center">
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4" >Titles</label>
            <select class="form-select" id="articleTitle-select"  [(ngModel)]="exam.title" >
                <option>1</option>
            </select>
        </div>
        <label class="form-label mt-4 articleTextLabel ml-0">Text</label>
        <textarea [(ngModel)]="exam.text" class="form-control"  id="article-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe eos eius fugiat sunt,
            eveniet
            natus incidunt nisi molestias tempore tempora porro ut dolorem, veniam ratione dolore amet illum nihil enim
            expedita architecto blanditiis excepturi voluptates vitae aperiam! Iure, assumenda mollitia facilis et
            incidunt
            earum eos laborum tempore similique, voluptate possimus voluptates eligendi vel sunt quis. Vel corporis
            temporibus cupiditate perspiciatis amet! Placeat hic voluptatum quidem provident, sapiente temporibus atque
            voluptate ab beatae voluptates. Porro animi velit cum, qui laudantium ullam vel consectetur magnam. Quia
            libero
            vel voluptate nostrum doloribus veniam numquam dolores magni sequi, laudantium, maxime pariatur voluptas
            exercitationem asperiores alias sit, minus architecto. Corrupti necessitatibus, quam debitis accusamus
            possimus
            similique atque at nesciunt sunt porro aperiam laudantium fugit officia laboriosam cumque cum commodi?
            Obcaecati
            rerum sunt, aperiam illo nesciunt incidunt rem quis aliquid cupiditate repellendus, expedita amet eos et
            velit
            mollitia voluptas ex eaque debitis ut vero! Minima provident quidem iusto facere maiores ullam deleniti id
            mollitia soluta aperiam quas similique quo dolore, nam nostrum amet ut expedita cupiditate magnam dicta!
            Voluptas fugit accusantium, culpa reiciendis molestiae sapiente at delectus quam iure corrupti nihil minima
            ex,
            suscipit provident eveniet reprehenderit aperiam quisquam fugiat, amet veniam perferendis rerum omnis?
            Officia
            quia possimus delectus tempore vitae optio unde odit saepe! Dolor at eos nesciunt fugit officiis commodi
            inventore autem ullam similique quidem ab repellendus iusto soluta, fugiat illo omnis unde ducimus
            temporibus
            nam tempora ad! Ipsa maxime magnam facere dolores autem suscipit, quasi enim dolorum tenetur sunt ratione
            non
            magni error amet, tempora consectetur! Similique illo nemo necessitatibus tempore voluptatum quibusdam
            laborum
            odit totam odio, neque aperiam at, exercitationem laudantium ratione eius rem obcaecati maxime cumque nisi
            architecto! Vel, natus, rem facere voluptates, distinctio nisi sunt unde perspiciatis eveniet corporis animi
            perferendis! Nam sapiente excepturi doloribus hic earum est quos eaque similique ipsam consectetur omnis
            impedit
            dolorum maiores voluptate dolore, mollitia, qui itaque voluptates, vitae dolor atque eveniet. Sed ullam
            aperiam
            reprehenderit saepe, quibusdam iure deleniti id voluptate impedit, accusamus vel repellendus quo dolores
            atque
            dolorum praesentium debitis soluta? Aspernatur esse minima repellat nihil, earum quam optio. Error illum ab
            vel?
            Amet, alias. Totam in quam esse, reiciendis iure sequi accusamus rerum maxime. Nihil alias nostrum sapiente
            fugiat molestias porro a magni praesentium maiores, quos quam. Rem voluptas quia et nobis possimus, aut
            tenetur,
            provident suscipit eaque, enim natus aliquam necessitatibus iusto. Nam quasi beatae nesciunt dolorum, est
            optio
            harum nostrum soluta dolor nobis, rerum amet debitis adipisci accusamus dolorem. Rerum rem, repellat
            adipisci
            ullam libero eligendi fugiat enim, iure officiis excepturi minima cupiditate. Ducimus incidunt architecto
            earum
            aperiam blanditiis cupiditate quod! Illum dolorem blanditiis, optio aspernatur reiciendis dignissimos totam
            praesentium sequi deleniti, labore, officia aperiam officiis fugit necessitatibus cupiditate veritatis animi
            voluptatum illo? Aperiam vel rem dignissimos at aliquam adipisci? Commodi labore fuga, debitis id tenetur
            tempore, quo veniam ut velit culpa omnis architecto dolores dolor illum aperiam itaque quas excepturi
            voluptates? Necessitatibus, autem at? Qui hic dignissimos et sapiente itaque dicta ad, vero pariatur eius
            maiores provident labore eaque quos totam quam. Harum deleniti reprehenderit impedit, tempora porro
            dignissimos
            ducimus rem illum magni nostrum voluptate adipisci voluptatum veniam fugiat! Architecto rerum, velit
            dignissimos
            obcaecati delectus commodi sapiente soluta nostrum cupiditate illo facere ducimus quis mollitia sint ab
            ipsum
            praesentium beatae dicta? Cumque vero vel odio beatae impedit culpa unde fuga. Placeat, accusantium,
            accusamus
            consequuntur facilis minus veritatis id possimus et magni perspiciatis quam eos eum libero suscipit beatae
            pariatur illum architecto? Unde sapiente dolorum quo, repudiandae quisquam velit, officia suscipit esse quos
            corporis ullam reiciendis voluptate harum tempora optio quasi quas perferendis sint odio asperiores id eius
            fugit aperiam doloribus. Itaque, saepe quia labore dicta quibusdam eius reiciendis obcaecati pariatur
            deleniti
            praesentium doloribus nihil, perferendis dignissimos exercitationem, rerum nesciunt nam aperiam. Voluptatem,
            commodi natus in sunt atque, incidunt voluptas accusamus sint perspiciatis possimus repellendus
            exercitationem,
            velit placeat? Neque illo, error delectus consequatur iusto animi esse earum cum qui beatae aspernatur?
            Corporis
            assumenda sunt quos culpa reprehenderit labore cum dicta quaerat molestiae ducimus cupiditate officia esse
            quisquam voluptatem ut incidunt recusandae et repellat modi, ex illum dolorum voluptatibus autem. Earum modi
            aspernatur ipsum molestiae velit eveniet consequuntur. Eligendi nobis cumque quia? Delectus reprehenderit
            recusandae corrupti repudiandae magni omnis sed nam beatae voluptatem iusto quis voluptatibus, quam
            perspiciatis
            ducimus vitae odit distinctio at modi autem provident, dolorem dolor placeat. Est adipisci obcaecati
            praesentium
            perspiciatis sunt quos totam itaque nemo modi voluptas possimus ipsam ad porro dolorem, dignissimos eum
            corporis
            et placeat magni ab pariatur excepturi maiores iste. Sint, ipsa. Natus beatae unde esse quaerat. Quae animi
            fugit, recusandae id ducimus itaque, libero necessitatibus sapiente odio sit laboriosam unde ullam dolorem
            autem
            rerum beatae minus culpa ut. Voluptatum pariatur vel ea illum, atque magni! Possimus similique rerum natus
            aspernatur dolore totam ea, voluptas eum iste. Tempora laborum voluptatum fugiat magnam quidem doloribus rem
            modi. Asperiores debitis perferendis numquam corrupti, ex laborum quibusdam consequatur quisquam molestiae
            minus
            et, eveniet, nemo tenetur soluta iste exercitationem quidem! Iste maiores expedita eligendi iure non, fugit
            aliquid numquam corporis quaerat aspernatur in nam alias quisquam, eveniet qui illo id, ad quasi sit. Nemo
            ratione aut dolorem, ducimus aspernatur quasi? Deserunt in corporis, quidem sed repellendus omnis
            dignissimos
            quis, natus et rem eaque iste consectetur doloribus? Veritatis, odio dolores! Tempore quod similique
            exercitationem vero dolorum aspernatur, perferendis itaque ipsa minus quidem facilis suscipit ut non aut
            veritatis sequi? Explicabo, quod minus nemo quibusdam excepturi, officia repellendus quas praesentium
            aliquid
            necessitatibus illum numquam mollitia eveniet tempore, quos delectus expedita commodi! Doloremque,
            praesentium
            veniam ullam sit facilis deserunt vitae sapiente enim, explicabo molestias amet, numquam voluptas ab omnis
            illum
            libero perspiciatis. Odio ad id quo, fugit iste magni provident, quisquam labore recusandae, soluta minima.
            Dicta perspiciatis quaerat numquam harum sequi. Nobis fuga non dolores laudantium. Architecto eligendi
            incidunt
            asperiores recusandae mollitia quae maiores molestias nemo, nihil soluta, nostrum, dicta dolores
            consequatur!
            Autem, recusandae! Veniam eum mollitia, fugit blanditiis eligendi voluptatum ab quo? Unde cumque maxime
            nihil
            suscipit amet. Maiores expedita eligendi vel quas rerum aut a ipsa repudiandae eveniet? Similique! </div>
    </textarea>


    <div *ngFor="let questionNumber of counter(questionQuantity);let i = index;">
        <textarea class="form-control my-3 questionTextInput" id="exampleTextarea" rows="3"
            placeholder="Question {{i + 1}}" [(ngModel)]="exam.questions[i].text" ></textarea> 
        <div class="row flex-wrap justify-content-between">
            <div *ngFor="let optionNumber of counter(optionQuantity);let j = index;" class="col-6">
                <input type="text" class="form-control my-2" placeholder="{{optionLetters[j]}} )" [(ngModel)]="exam.questions[i].options[j].text" >
            </div>
            <div class="d-flex justify-content-center mt-1">
                <select class="form-select" id="rightAnswer-select">
                    <option>Right answer</option>

                </select>
            </div>

        </div>
    </div>
    <div class="d-flex justify-content-center my-4">
        <button type="button" class="btn btn-lg btn-outline-primary" (click)="show()" >Create Exam</button>
    </div>




</div>