<div class="card bg-light mx-auto mt-5" style="width: 25rem;height: 30rem;">
    <div class="card-header text-center text-primary">Login to TakeATest App</div>
    <div class="card-body">
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Username</label>
            <input type="text" class="form-control" placeholder="Username" id="inputDefault">
        </div>
        <div class="form-group">
            <label class="col-form-label mt-4" for="inputDefault">Password</label>
            <input type="text" class="form-control" placeholder="Password" id="inputDefault">
        </div>
        <div class="form-group d-flex justify-content-center mt-3">
            <button type="button" class="btn btn-outline-success">Login</button>
        </div>
    </div>
</div>